{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mana - регистрация</title>
    <head>
      <link rel="icon" type="image/jpg" href="{% static 'mana/imgs/logo.jpg' %}"/> 
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'mana/css/sign.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <!-- Always get the latest version -->
<!-- Not recommended for production sites! -->
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Get minor updates and patch fixes within a major version -->
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Get patch fixes within a minor version -->
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Get a specific version -->
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0.0/dist/smooth-scroll.polyfills.min.js"></script>


</head>
<body>
  <header> 
    <h2> <a href="{% url 'home' %}"> MANA </a></h2>
    <nav>
    <li><a href="{% url 'services' %}"> Услуги и компьютеры </a></li>
    <li><a href="{% url 'news' %}"> Новости </a></li>
    <li><a href="{% url 'about' %}"> Контакты </a></li>
    <li><a class="sign" href="{% url 'users:register' %}"> Регистрация </a></li>
    <li><a class="sign" href="{% url 'users:login' %}"> Вход </a></li>
    </nav>
  </header>

    <div class="login-container">
      <h1>Регистрация</h1>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <p><button type="submit">Регистрация</button></p>
        <p>Уже зарегистрированы? <a href="{% url 'users:login' %}" class = "help">Войдите</a></p>
      </form>

      {% comment %} <form action="" method="post">
          {% csrf_token %}
          <input type="text" name="name" placeholder="Имя">
          <input type="text" name="email" placeholder="Почта">
          <input type="text" name="login" placeholder="Логин">
          <input type="password" name="password" placeholder="Пароль">
          <button type="submit">Зарегистрироваться</button>
          <p>Уже зарегистрированы? <a href="{% url 'users:login' %}" class = "help">Войдите</a></p>
      </form> {% endcomment %}
  </div>

    <footer id="contact">
      <p>КОМПЬЮТЕРНЫЙ КЛУБ MANA</p>
      <p>© Copyright All Rights Reserved</a></p>
      <ul>
        <p>+7 (922) 900-01-80</a></p>
        <li><a href="https://vk.com/mana_kirov"><i class="fab fa-vk fa-2x"></i></a></li>
        <li><a href="https://t.me/mana_kirov"><i class="fab fa-telegram fa-2x"></i></a></li>
        <li><a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.twitch.tv%2Fmana_off"><i class="fab fa-twitch fa-2x"></i></a></li>
        <li><a href="https://discord.gg/A8pYcmUvqf"><i class="fab fa-discord fa-2x"></i></a></li>
      </ul>
    </footer>


    <script>
          var scroll = new SmoothScroll('a[href*="#contact"]' , { 
              speed: 2000 , 
          });
          var scroll = new SmoothScroll('a[href*="#projects"]' , { 
              speed: 2000 , 
          });
          var scroll = new SmoothScroll('a[href*="#technologies"]' , { 
              speed: 2000 , 
          });
      </script>

</body>
</html>
