*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth;
}

html { 
  font : normal 16px sans-serif  ; 
  color : #555 ; 
}

a { 
    cursor: pointer ;
    text-decoration: none ; 
    opacity: 0.75 ; 
    color : #fff ; 
}

a:hover { 
  opacity: 1;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(34, 34, 34);
    color: black;
    scroll-behavior: smooth;
}

input,
textarea {
    font-family: "Barlow";
    line-height: 25px;
}

a,
li {
    text-decoration: none;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;

}



.big_letter {
    color: rgb(245, 97, 97);
    font-size: 3em;
    font-weight: bold;
}

.card_title {
    font-size: 1.2em;
    color: rgb(245, 97, 97);
    font-weight: bold;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header*/
header {
    width: 100%;
    margin: auto;
    padding: 0px 50px;
    min-height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: sticky;
    left: 0;
    right: 0;
    z-index: 999;
    color : #fff ; 
    background-color: #000000;
    transition: 0.5s;
}



.sticky {
    background-color: rgb(238, 238, 238);
    padding: 5px 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    opacity: 1;
    position: fixed;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sticky #menu #navbar ul {
    box-shadow: none;
}

.sticky #menu #navbar li a {
    color: rgb(252, 252, 252);

}

.sticky #menu #navbar li a:hover {
    background-color: rgb(241, 241, 241);
}


#logo {
    padding-top: 7px;
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    width: 100%;
}

#logo img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

/* .logo_img{
    position: relative;
    right: -50px;
} */

#menu {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

#navbar input[type=checkbox] {
    opacity: 0;
}

#navbar ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

#navbar ul li {
    width: auto;
    border: 0px solid;
    margin: 0 2px;
}

#navbar ul li a {
    width: 100%;
    height: 50px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    font-weight: bold;
    /* text-transform: uppercase; */

}

#navbar ul li a:hover {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: rgb(255, 241, 39);
    color: rgb(255, 241, 39);

}

header h2 { 
  font-family: "Quicksand" , sans-serif ;
  color:#ffcc00
}


/* FOOTER */

footer {
    display: flex ;
    /* align-items: center ; */
    justify-content: space-around ;
    background-color: #000000 ;
    color : #fff ; 
    padding: 20px 0 ;
    
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    display: flex ;
    text-align: right;
    justify-content: space-between;
    padding: 0;

}

footer ul li { 
    margin-left: 10px ;
}
footer p { 
    text-transform: uppercase ;
    font-size: 14px ;
    opacity: 0.6;
    align-self: center;
}

li { 
    list-style: none;
}

@media (max-width : 1100px) { 
    footer { 
        flex-direction: column ;
    }

    footer p  {
        text-align: center ; 
        /* margin-bottom: 20px ; */
    }

    footer ul li { 
        margin: 4 33px ;
        margin: 0;
    }
}


/* SIGN UP */

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
  /* display: flex; */

  height: 100vh;
}

section {
  display: flex;
  margin: 0;
  padding: 0;
  height: 70vh;
}

a.help {
  color:rgb(192, 194, 110)
}

.login-container {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* margin: 100px; */
  margin: auto;
}

h1 {
  margin-bottom: 20px;
  color: #ffcc00;
}

input[type="text"],
input[type="password"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
}

button {
  background-color: #ffcc00;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffe066;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 2rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
}

body,
  input {
    font-family: "Poppins", sans-serif;
  }