* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font: normal 16px sans-serif;
  color: #1d1d1d;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 80px;
  color: #ffffff;
}

.content {
  z-index: 1;
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

hr {
  width: 250px;
  height: 3px;
  background-color: #3f51b5;
  border: 0;
  margin-bottom: 50px;
}

section h3.title {
  text-transform: capitalize;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

section p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  text-align: center;
}

.orders {
  margin-bottom: 40px;
}

table {
  width: auto;
  border-collapse: collapse;
  
}

table th,
table td {
  padding: 10px;
  border: 1px solid #020202;
  text-align: left;
}

table th {
  background-color: #585858;
}

table tbody tr:nth-child(even) {
  background-color: #1a1a1a;
}

.delete-button {
  background-color: #ff6060;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #cc0000;
}

/* Mobile styles */
@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
      display: block;
  }

  thead tr {
      display: block;
  }

  tr {
      margin-bottom: 10px;
      border-bottom: 2px solid #ddd;
  }

  td {
      text-align: right;
      padding-left: 50%;
      position: relative;
  }

  td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 70%;
      padding-left: 10px;
      font-weight: bold;
      text-align: left;
      color: #ffffff;
  }
}