/*header*/
header {
  width: 100%;
  margin: auto;
  min-height: auto;
  display: absolute;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  left: 0;
  right: 0;
  z-index: 999;
  color: #fff;
  background-color: #00000000;
  transition: 0.5s;
  position: fixed;
  top: 0;
}

header h2 {
  font-family: "Quicksand", sans-serif;
}

header nav {
  display: flex;
  color: #fff;
}

header nav li {
  margin: 0 15px;
}

.sign {
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(255, 230, 7);
  font-weight: bold;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

a.sign:hover {
  color: rgb(248, 151, 6);
}

a.btn {
  border-radius: 47px 47px 47px 47px;
  border-color: #000000;
  color: black;
  border-width: 1px 1px 1px 1px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #f3f719;
  opacity: 1;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

a.btn:hover {
  color: black;
  background-color: rgb(123, 136, 49);
  border-color: black;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
  background-color: #1a1a1a;
}

.hero {
  z-index: 1;
  color: #fff;
  position: relative;

  text-align: center;
  justify-content: center;
  min-height: 100vh;
}

.hero .background {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(../imgs/main.jpg);
  background-color: #80a3db;
}

.hero h1 {
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.hero h3 {
  font: normal 28px "Open Sans", sans-serif;

  margin-bottom: 40px;
}

.hero a.btn {
  padding: 20px 46px;
}

.content {
  z-index: 1;
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

hr {
  width: 250px;
  height: 3px;
  background-color: #d5d826;
  border: 0;
  margin-bottom: 50px;
}

section h3.title {
  text-transform: capitalize;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
  color: #ffffff;
}

section p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #ffffff;
}
li {
  list-style: none;
}
.destinations .grid li {
  list-style: none;
  height: 350px;
  padding: 20px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.destinations .grid li.small {
  flex-basis: 30%;
}
.destinations .grid li.large {
  flex-basis: 70%;
}

section:not(.hero):nth-child(even) {
  background-color: #101010;
  color: #ffffff;
}

.packages .grid li {
  padding: 50px;
  flex-basis: 50%;
  text-align: center;
}

.packages .grid li i {
  color: #8c9eff;
}

.packages .grid li h4 {
  font-size: 30px;
  margin: 25px 0;
}

.testimonials .quote {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  margin: 40px 0 25px;
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}

.contact form .btn {
  padding: 18px 42px;
}

.contact form input {
  padding: 15px;
  margin-right: 30px;
  font-size: 18px;
  color: #555;
  flex: 1;
}

#logo {
  padding-top: 7px;
  display: flex;
  justify-content: space-around;
  position: relative;

  align-items: center;
  width: 100%;
}

#logo img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.logo_img {
  position: relative;
  right: -50px;
}

#menu {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

#navbar input[type="checkbox"] {
  opacity: 0;
}

#navbar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

#navbar ul li {
  width: auto;
  border: 0px solid;
  margin: 0 2px;
}

#navbar ul li a {
  width: 100%;
  height: 50px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  font-weight: bold;
}

#navbar ul li a:hover {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: rgb(255, 241, 39);
  color: rgb(255, 241, 39);
}

header h2 {
  font-family: "Quicksand", sans-serif;
  color: #ffcc00;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }

  header {
    padding: 20px 50px;
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }

  .hero h1 {
    font-size: 48px;
  }
  .hero {
    min-height: 600px;
  }

  .hero h3 {
    font-size: 24px;
  }
  .hero a.btn {
    padding: 15px 40px;
  }
}

@media (max-width: 1100px) {
  .destinations .grid li.small,
  .destinations .grid li.large {
    flex-basis: 50%;
  }
}

@media (max-width: 800px) {
  .destinations .grid li.small,
  .destinations .grid li.large {
    flex-basis: 100%;
  }
}

@media (max-width: 1000px) {
  .contact form input {
    flex-basis: 100%;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 1100px) {
  footer {
    flex-direction: column;
  }

  footer p {
    text-align: center;
  }

  footer ul li {
    margin: 4 33px;
    margin: 0;
  }
}

/* COMPUTERS */

section.packages {
  background-color: #1a1a1a;
}
.computer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: #1a1a1a;
}

.computer {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.computer img {
  width: 100%;
  border-radius: 5px;
}

.computer h2 {
  margin-top: 10px;
  text-align: center;
}

.computer p {
  margin: 10px 0;
}

.computer.price {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #007bff;
}

@media (max-width: 768px) {
  .computer-container {
    flex-direction: column;
    align-items: center;
  }

  .computer {
    width: 90%;
  }
}

/* NEWS */

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news {
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #1a1a1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.news:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.news h2 {
  margin-top: 10px;
  font-size: 18px;
  color: #c5d300;
}

.news .date {
  margin-top: 5px;
  color: #666;
}

.news p {
  margin-top: 10px;
  font-size: 14px;
  color: #d3d3d3;
}

.button-container {
  text-align: right;
  margin-top: 10px;
}

.news-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fdef22;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.news-button:hover {
  background-color: #c5d300;
}

/* MAP */

img.map {
  max-width: 100%;
  height: auto;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

img.map {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .container2 {
    margin-bottom: 70px;
  }

  img.map {
    width: 100%;
    max-width: none;
  }
}
