* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  /* margin: 0;
  padding: 0;
  line-height: 1.6; */
}

p {
  color: rgb(150, 150, 150);
}

header h2 {
  font-family: "Quicksand", sans-serif;
}

/* Content */

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5em;
  color: #e0dd00;
}

section {
  max-width: 800px;
  margin: 50px auto 0; /* Добавляем верхний отступ для видимости */
  margin-bottom: 80px;
  padding: 20px;
  background-color: #202020;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.list-articles {
  list-style-type: none;
  padding: 0;
}

.news-item {
  margin-bottom: 30px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.news-item h2 {
  font-size: 1.8em;
  color: #ffffff;
  margin-bottom: 10px;
}

.news-item .news-content {
  font-size: 1.1em;
  color: #555;
}

.news-photo {
  max-width: 60%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.link-read-post {
  text-align: right;
  margin-top: 10px;
}

.link-read-post a {
  text-decoration: none;
  color: #eeff00;
  font-weight: bold;
  transition: color 0.3s;
}

.link-read-post a:hover {
  color: #ffee00;
}