* { 
    margin: 0 ;
    box-sizing: border-box ;
    padding: 0 ;
}

html { 
    font : normal 16px sans-serif  ; 
    color : #555 ; 
}

nav { 
    list-style: none ;
}

a { 
    cursor: pointer ;
    text-decoration: none ; 
    opacity: 0.75 ; 
    color : #fff ; 
}

a:hover { 
    opacity: 1;
}

header { 
    z-index: 2;
    position: absolute ;
    width: 100% ;
    display: flex ; 
    justify-content: space-between ;
    align-items: center ; 

    animation: 0s fadein 0.0s forwards ;
    opacity: 0;
    color : #fff ; 
    background-color: #000000;
    padding: 20px 20px ;
    
}
 @keyframes fadein { 
     100% { 
         opacity: 1 ;
     }
 }
header h2 { 
    font-family: "Quicksand" , sans-serif ;
}

header nav { 
    display: flex ; 
   margin-right: -15px ; 
   color : #fff ; 
}

header nav li { 
    margin: 0 15px ; 
}








h1 {
    text-align: center;
}

form {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 60px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="date"],
input[type="time"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.card {
    flex: 0 0 calc(20% - 20px); /* Устанавливаем ширину карточки в 20% */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Учитываем внешние отступы и границы в вычислении размеров */
}

.card:hover {
    background-color: #f0f0f0;
}

.selected {
    background-color: #007bff;
    color: white;
}

.hidden-checkbox {
    display: none;
}

#total-computers {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}


/* Summary box */

.selected-computers {
    margin-bottom: 20px;
}

.total-cost {
    font-weight: bold;
    margin-bottom: 20px;
}

.summary {
    position: fixed;
    top: 150px;
    left: 60px;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 15px;

}

.selected-computers,
.total-cost {
    margin-bottom: 10px;
}

.summary div {
    margin-bottom: 10px;
}

.selected-computers {
    font-style: italic;
    font-size: 14px;
}

.total-cost {
    font-size: 16px;
    color: #007bff;
}


/* FOOTER */

footer {
    display: flex ;
    align-items: center ;
    justify-content: space-around ;
    background-color: #000000 ;
    color : #fff ; 
    padding: 20px 0 ;
    position: relative;
    margin-top: 20px;
    bottom: 0;
    width: 100%;

}

footer ul {
    display: flex ;

}

footer ul li { 
    margin-left: 16px ;
}
footer p { 
    text-transform: uppercase ;
    font-size: 14px ;
    opacity: 0.6;
    align-self: center;
}

li { 
    list-style: none;
}