{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mana - бронирование</title>
    <head>
      <link
        rel="icon"
        type="image/jpg"
        href="{% static 'mana/imgs/logo.jpg' %}"
      />
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'booking/css/order.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h2><a href="{% url 'home' %}"> MANA </a></h2>
      <nav>
        <li><a href="{% url 'services' %}"> Услуги и компьютеры </a></li>
        <li><a href="{% url 'news' %}"> Новости </a></li>
        <li><a href="{% url 'about' %}"> Контакты </a></li>
        <li><a class="order" href=""> Забронировать </a></li>
        {% if user.is_authenticated %}
        <li>
          <a class="account" href="{% url 'account' %}"> Личный кабинет </a>
        </li>
        <li class="account">{{ user }}</li>
        <li><a class="account" href="{% url 'users:logout' %}"> Выйти </a></li>
        {% else %}
        <li>
          <a class="sign" href="{% url 'users:register' %}"> Регистрация </a>
        </li>
        <li><a class="sign" href="{% url 'users:login' %}"> Вход </a></li>
        {% endif %}
      </nav>
    </header>

    <div class="form-container">
      <form id="booking-form" method="post" action="">
        {% csrf_token %}
        <h1>Бронирование компьютеров</h1>
        <select name="club" required>
          <option value="" disabled selected>Выберите компьютерный клуб</option>
          <option value="Мостовицкая 7">Мостовицкая 7</option>
          <option value="Ленина 101А">Ленина 101А</option>
          <option value="Риммы Юровской 2А">Риммы Юровской 2А</option></select
        ><br /><br />
        <label>Дата:</label>
        <input type="date" name="day" onfocus="this.showPicker()" required /><br /><br />

        <label>Время:</label>

        <input type="time" name="time" onfocus="this.showPicker()" required />

      <br /><br />

        <label>Услуга:</label>
        <select name="service" required>
          <option value="" disabled selected>Выберите услугу</option>
          {% for service in services %}
            <option value="{{ service.title }}">{{ service.title }}</option>
          {% endfor %}
          <select  
        ><br /><br />

        <button type="submit">Далее</button>
      </form>
    </div>

    <footer id="contact">
      <p>КОМПЬЮТЕРНЫЙ КЛУБ MANA</p>
      <p>© Copyright All Rights Reserved</p>
      <ul>
        <p>+7 (922) 900-01-80</p>
        <li>
          <a href="https://vk.com/mana_kirov"
            ><i class="fab fa-vk fa-2x"></i
          ></a>
        </li>
        <li>
          <a href="https://t.me/mana_kirov"
            ><i class="fab fa-telegram fa-2x"></i
          ></a>
        </li>
        <li>
          <a
            href="https://vk.com/away.php?to=https%3A%2F%2Fwww.twitch.tv%2Fmana_off"
            ><i class="fab fa-twitch fa-2x"></i
          ></a>
        </li>
        <li>
          <a href="https://discord.gg/A8pYcmUvqf"
            ><i class="fab fa-discord fa-2x"></i
          ></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
