{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mana - контакты</title>
    <head>
      <link
        rel="icon"
        type="image/jpg"
        href="{% static 'mana/imgs/logo.jpg' %}"
      />
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'mana/css/about.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h2><a href="{% url 'home' %}"> MANA </a></h2>
      <nav>
        <li><a href="{% url 'services' %}"> Услуги и компьютеры </a></li>
        <li><a href="{% url 'news' %}"> Новости </a></li>
        <li><a href="{% url 'about' %}"> Контакты </a></li>
        <li><a class="order" href="{% url 'booking' %}"> Забронировать </a></li>
        {% if user.is_authenticated %}
        <li>
          <a class="account" href="{% url 'account' %}"> Личный кабинет </a>
        </li>
        <li class="account">{{ user }}</li>
        <li><a class="account" href="{% url 'users:logout' %}"> Выйти </a></li>
        {% else %}
        <li>
          <a class="sign" href="{% url 'users:register' %}"> Регистрация </a>
        </li>
        <li><a class="sign" href="{% url 'users:login' %}"> Вход </a></li>
        {% endif %}
      </nav>
    </header>

    <section>
      <h1>Адреса клубов:</h1>
      <ul>
        <li>📱 Ленина 101А: +7 (922) 900-01-80</li>
        <li>📱 Мостовицкая 7: +7 (922) 663-03-39</li>
        <li>📱 Риммы Юровской 2А: +7 (922) 920-32-22</li>
      </ul>
      <br />
      <div style="position: relative; overflow: hidden">
        <a
          href="https://yandex.ru/maps/46/kirov/search/Mana/?utm_medium=mapframe&utm_source=maps"
          style="color: #eee; font-size: 12px; position: absolute; top: 0px"
          >Mana в Кирове</a
        ><a
          href="https://yandex.ru/maps/46/kirov/?utm_medium=mapframe&utm_source=maps"
          style="color: #eee; font-size: 12px; position: absolute; top: 14px"
          >Киров</a
        ><iframe
          src="https://yandex.ru/map-widget/v1/?display-text=Mana&ll=49.638663%2C58.579773&mode=search&sll=49.668019%2C58.603595&sspn=0.493011%2C0.143167&text=%7B%22text%22%3A%22Mana%22%2C%22what%22%3A%5B%7B%22attr_name%22%3A%22chain_id%22%2C%22attr_values%22%3A%5B%2259803395402%22%5D%7D%5D%7D&z=14"
          width="1560"
          height="700"
          frameborder="1"
          allowfullscreen="true"
          style="position: relative"
        ></iframe>
      </div>
    </section>

    <footer id="contact">
      <p>КОМПЬЮТЕРНЫЙ КЛУБ MANA</p>
      <p>© Copyright All Rights Reserved</p>
      <ul>
        <p>+7 (922) 900-01-80</p>
        <li>
          <a href="https://vk.com/mana_kirov"
            ><i class="fab fa-vk fa-2x"></i
          ></a>
        </li>
        <li>
          <a href="https://t.me/mana_kirov"
            ><i class="fab fa-telegram fa-2x"></i
          ></a>
        </li>
        <li>
          <a
            href="https://vk.com/away.php?to=https%3A%2F%2Fwww.twitch.tv%2Fmana_off"
            ><i class="fab fa-twitch fa-2x"></i
          ></a>
        </li>
        <li>
          <a href="https://discord.gg/A8pYcmUvqf"
            ><i class="fab fa-discord fa-2x"></i
          ></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
