{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mana - компьютерный клуб</title>
    <head>
      <link
        rel="icon"
        type="image/jpg" 
        href="{% static 'mana/imgs/logo.jpg' %}"
      />
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'mana/css/header_footer.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'mana/css/index.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'mana/css/responsive.css' %}" />
    <script src="{% static 'mana/js/mobile.js' %}"></script>
    
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0.0/dist/smooth-scroll.polyfills.min.js"></script>
  </head>
  <body>
    {% comment %} <header>
      <h2><a href="{% url 'home' %}"> MANA </a></h2>
      <nav>
        <li><a href="{% url 'services' %}"> Компьютеры и залы </a></li>
        <li><a href="{% url 'news' %}"> Новости </a></li>
        <li><a href="{% url 'about' %}"> Контакты </a></li>
        {% if user.is_authenticated %}
        <li><a class="account" href="{% url 'account' %}"> {{ user }} </a></li>
        <li><a class="account" href="{% url 'users:logout' %}"> Выйти </a></li>
        {% else %}
        <a class="sign" href="{% url 'users:register' %}"> Регистрация </a>
        <a class="sign" href="{% url 'users:login' %}"> Вход </a>
        {% endif %}
      </nav>
    </header> {% endcomment %}
    
    {% comment %} <header> {% endcomment %}
      {% comment %} <div id="logo"> 
        <span class="logo_img">       
        <h2> <a href="{% url 'home' %}" alt="mywebsite"> MANA </a></h2>
        </span>
      </div> {% endcomment %}
      {% comment %} <nav id="menu">
          <div id="navbar">
              <input id="menu__toggle" type="checkbox" />
              <label class="menu__btn" for="menu__toggle">
                  <span></span>
              </label>
              <ul class="menu__box">
                  <li><a class="menu__item" href="{% url 'services' %}">Услуги и компьютеры</a></li>
                  <li><a class="menu__item" href="{% url 'news' %}"> Новости </a></li>
                  <li><a class="menu__item" href="{% url 'about' %}"> Контакты </a></li>
                  <li><a class="menu__item" class="sign" href="{% url 'users:register' %}"> Регистрация </a></li>
                  <li><a class="menu__item" class="sign" href="{% url 'users:login' %}"> Вход </a></li>
              </ul>
          </div>
      </nav>
    </header> {% endcomment %}

    <header> 

      <nav id="menu">
        <div id="navbar">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle">
              <span></span>
          </label>
          <ul class="menu__box">
            
            <li><a href="{% url 'services' %}"> Услуги и компьютеры </a></li>
            <li><a href="{% url 'news' %}"> Новости </a></li>
            <li><a href="{% url 'about' %}"> Контакты </a></li>
            <li>
              <a class="order" href="{% url 'booking:order' %}"> Забронировать </a>
            </li>
            {% if user.is_authenticated %}
              <li>
                <a class="account" href="{% url 'account' %}"> Личный кабинет: {{ user }} </a>
              </li>
              {% if user.is_authenticated and user.username == "admin" %}
                <li><a class="admin-link"  href="{% url 'admin:login' %}"> Администрирование </a></li>
              {% endif %}
              {% comment %} <li><a class="account" href="{% url 'account' %}">{{ user }}</a></li> {% endcomment %}
              <li>
                <a class="account" href="{% url 'users:logout' %}"> Выйти </a>
              </li>
              {% else %}
              <li>
                <a class="sign" href="{% url 'users:register' %}"> Регистрация </a>
              </li>
              <li><a class="sign" href="{% url 'users:login' %}"> Вход </a></li>
            {% endif %}
      </nav>
    </header>

    <section class="hero">
      <div class="background"></div>
      <div class="content">
        <h1>MANA | Компьютерный клуб</h1>
        <h3>Удобство гостей - наш основной приоритет</h3>
        <a class="btn" href="{% url 'booking:order' %}"> Забронировать </a>
      </div>
    </section>

    <section class="destinations" id="projects">
      <h3 class="title">О нас</h3>
      <p>
        Добро пожаловать на сайт компьютерного клуба Mana! Мы предлагаем
        современное игровое пространство, где вы можете насладиться
        качественными игровыми компьютерами и консолями. Присоединяйтесь к нам и
        окунитесь в мир киберспорта и компьютерных развлечений вместе с Mana!
      </p>
      <hr />
      <ul class="grid">
        <li
          class="small"
          style="background-image: url('{% static 'mana/imgs/about1.jpg' %}')"
        ></li>
        <li
          class="large"
          style="background-image: url('{% static 'mana/imgs/about2.jpg' %}')"
        ></li>
        <li
          class="large"
          style="background-image: url('{% static 'mana/imgs/about3.jpg' %}')"
        ></li>
        <li
          class="small"
          style="background-image: url('{% static 'mana/imgs/about4.jpg' %}')"
        ></li>
      </ul>
    </section>

    <section class="packages" id="computers">
      <h1>Характеристики компьютеров</h1>
      <main>
        <div class="computer-container">
          <div class="computer">
            <img src="{% static 'mana/imgs/def.jpg' %}" alt="Обычный зал" />
            <h2>Обычный зал</h2>
            <p>Процессор: Intel Core i5</p>
            <p>Оперативная память: 8 ГБ</p>
            <p>Жесткий диск: 500 ГБ HDD</p>
            <p>Видеокарта: NVIDIA GeForce GTX 1050</p>
            <p class="price">Цена: от 100 руб./час</p>
          </div>
          <div class="computer">
            <img src="{% static 'mana/imgs/vip.jpg' %}" alt="VIP зал" />
            <h2>VIP зал</h2>
            <p>Процессор: Intel Core i7</p>
            <p>Оперативная память: 16 ГБ</p>
            <p>Жесткий диск: 1 ТБ SSD</p>
            <p>Видеокарта: NVIDIA GeForce RTX 3060</p>
            <p class="price">Цена: от 120 руб./час</p>
          </div>
          <div class="computer">
            <img src="{% static 'mana/imgs/premium.jpg' %}" alt="Премиум зал" />
            <h2>Премиум зал</h2>
            <p>Процессор: Intel Core i9</p>
            <p>Оперативная память: 32 ГБ</p>
            <p>Жесткий диск: 2 ТБ SSD</p>
            <p>Видеокарта: NVIDIA GeForce RTX 3080</p>
            <p class="price">Цена: от 140 руб./час</p>
          </div>
        </div>
      </main>
    </section>

    <section class="testimonials" id="news">
      <h3 class="title">Новости</h3>
      <hr />

      <main>
        <div class="news-container">
          {% for n in news|slice:":3" %}
          <div class="news">
            <a href="news/{{ n.id }}">
              {% if n.photo %}
              <img class="" src="{{ n.photo.url }}" />
              {% endif %}
              <h2>{{n.title}}</h2>
              <p class="date"></p>
              <p>
                {% autoescape off %} {{n.content|linebreaks|truncatewords:40}}
                {% endautoescape %}
              </p>
            </a>
          </div>
          {% endfor %}
        </div>
      </main>
      <div class="button-container">
        <a href="news" class="news-button">Перейти к новостям</a>
      </div>
    </section>

    {% comment %} <section class="contact" id="contact">
      <h3 class="title">Обратная связь</h3>
      <p>
        Оставьте ваш номер телефона, и наш администратор свяжется с вами в
        ближайшее время. Мы готовы ответить на все ваши вопросы и предоставить
        необходимую информацию по телефону.
      </p>
      <hr />
      <form>
        <input type="" placeholder="Номер телефона" />
        <a href="#" class="btn">Отправить</a>
      </form>
    </section> {% endcomment %}

    
    <section class="contact" id="contact">
      <h2>Адреса клубов:</h2>
      <ul>
        <li>📱 Ленина 101А: +7 (922) 900-01-80</li>
        <li>📱 Мостовицкая 7: +7 (922) 663-03-39</li>
        <li>📱 Риммы Юровской 2А: +7 (922) 920-32-22</li>
      </ul>
      <br />
      <br />
      <div class="container2">
        <img class="map" src="{% static 'mana/imgs/map.png' %}" alt="Centered Image">
      </div>
    </section>
    

    <footer id="footer">
      <p class = "footer_name"><a href="{% url 'home' %}">КОМПЬЮТЕРНЫЙ КЛУБ MANA</a></p>


      <ul>
        <p>+7 (922) 900-01-80</p>
        <li>
          <a href="https://vk.com/mana_kirov"
            ><i class="fab fa-vk fa-2x"></i
          ></a>
        </li>
        <li>
          <a href="https://t.me/mana_kirov"
            ><i class="fab fa-telegram fa-2x"></i
          ></a>
        </li>
        <li>
          <a
            href="https://vk.com/away.php?to=https%3A%2F%2Fwww.twitch.tv%2Fmana_off"
            ><i class="fab fa-twitch fa-2x"></i
          ></a>
        </li>
        <li>
          <a href="https://discord.gg/A8pYcmUvqf"
            ><i class="fab fa-discord fa-2x"></i
          ></a>
        </li>
      </ul>
    </footer>

    <script>
      var scroll = new SmoothScroll('a[href*="#contact"]', {
        speed: 2000,
      });
      var scroll = new SmoothScroll('a[href*="#news"]', {
        speed: 2000,
      });
      var scroll = new SmoothScroll('a[href*="#computers"]', {
        speed: 2000,
      });
    </script>
  </body>
</html>
