* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #121212;
  color: #fff;
}

nav {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
}

a:hover {
  opacity: 1;
}

form {
  max-width: 750px;
  margin: 0 auto;

  margin-top: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: #464646;
  color: #fff;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 230, 7);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 243, 133);
}

.back-button {
  width: 50%;
  padding: 10px;
  max-width: 250px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  background-color: #bebebe;
  color: #050505;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #8f8f8f;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.card {
  flex: 0 0 calc(20% - 20px);
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.card:hover {
  background-color: #a5a342;
}
.card:active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-color: #a5a342;
}
.selected {
  background-color: rgb(255, 230, 7);
  color: rgb(0, 0, 0);
}

.hidden-checkbox {
  display: none;
}

#total-computers {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* Summary box */

.selected-computers {
  margin-bottom: 20px;
}

.total-cost {
  font-weight: bold;
  margin-bottom: 20px;
}

.summary {
  position: fixed;
  top: 150px;
  left: 60px;
  background-color: #3f3f3f;
  padding: 15px;
  border-radius: 15px;
}

.selected-computers,
.total-cost {
  margin-bottom: 10px;
}

.summary div {
  margin-bottom: 10px;
}

.selected-computers {
  font-style: italic;
  font-size: 14px;
}

.total-cost {
  font-size: 16px;
  color: rgb(255, 230, 7);
}

/* DETAILS */

.order-details {
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.detail-label {
  font-weight: bold;
  flex: 1;
  color: #ffdd57;
}

.detail-value,
.detail-input {
  flex: 2;
  text-align: right;
  color: #e0e0e0;
  background-color: #2b2b2b;
  border: none;
  padding: 5px;
  font-size: 1em;
  box-shadow: none;
}

.detail-input[readonly] {
  background-color: #444;
  color: #ffffff;
}

#total-cost {
  color: #ffdd57;
  font-weight: bold;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .order-details {
    padding: 10px;
  }

  .detail-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .detail-label,
  .detail-value,
  .detail-input {
    text-align: left;
    padding: 5px 0;
  }

  .detail-value,
  .detail-input {
    font-size: 1.1em;
  }

  #service-price {
    font-size: 1.3em;
  }
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
  position: relative;
  margin-top: 20px;
  bottom: 0;
  width: 100%;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-left: 16px;
}
footer p {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.6;
  align-self: center;
}

li {
  list-style: none;
}
